<nav>
    <ul class="pagination">
        <li>
            <a href aria-label="Previous" ng-click="updateOffset(offset-limit)">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href ng-click="updateOffset(1)">1</a></li>
        <li><a href ng-click="updateOffset(2)">2</a></li>
        <li><a href ng-click="updateOffset(3)">3</a></li>
        <li><a href ng-click="updateOffset(4)">4</a></li>
        <li><a href ng-click="updateOffset(5)">5</a></li>
        <li>
            <a href aria-label="Next" ng-click="updateOffset(offset+limit)">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>